.App {
  margin-top: 50px;
  margin-left: 30px;
  text-align: center;
}

.produto{
border: dotted ;
width: 250px;
height: 400px;

}
.imagem{
  margin-top: 10px;
  height: 250px;
  width: 200px;
}

.botao{
  background-color: black;
  color: white;
  width: 200px;
  height: 35px;
  cursor: pointer;
}
.FilterContainer{
  background-color: teal;
  /* Michael Soto */
  display:grid;
  grid-template-columns:  1fr 3fr 1fr;
  padding: 16px;
  gap:8px;
/* Michael Soto */
}